<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Recovery</title>
  <link rel="stylesheet" href="/css/mainStyle.css">
  <link rel="stylesheet" href="/css/recoveryStyle.css">
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <script src="/js/sha256.js"></script>
</head>
<body>
    
  <div id="titleplate">
    <img src="https://i.ibb.co/CzX5Dt7/travelnest-logo.png" alt="Your Logo" class="logo">
    <h3>Account Recovery</h3>
  </div>

  <div class="container">
    <div>
     <form id="recovery-type">
      <label for="recovery-type">Recovery Type:</label>
      <select id="recovery-type-selected" name="recovery-type-selected">
        <option selected="selected" value="clean">Change something about my account...</option> <!-- The default display -->
        <option value="password">Change my password.</option>
        <option value="email">Change my email.</option>
      </select>
    </form>

      <div id="recovery-container-password">

        <form id="password-change-form" action='/accountrecovery/changepassword' method='post'>
          <label for="new-password-input">New Password</label>
          <p>New Password: </p><input id="new-password-input" type='password' placeholder="New pa****rd"> <br>

          <label for="confirm-new-password-input">Confirm New Password</label>
          <p>Confirm New Password: </p><input id="confirm-new-password-input" type='password' placeholder="Confirm new pa****rd"> <br>

          <label for="old-password-input">Old Password</label>
          <p>Old Password: </p><input id="old-password-input" type='password' placeholder="Old pa****rd"> <br>

          <label for="confirm-old-password-input">Confirm Password</label>
          <p>Confirm Old Password: </p><input id="confirm-old-password-input" type='password' placeholder="Confirm old pa****rd"> <br>

          <button class="submit" type="submit">Submit</button>
        </form>
      </div>

    </div>

    <div id="recovery-container-email">

      <form id="email-change-form">
        <label for="email-input">New Email</label>
        <p>New Email: </p><input id="email-input" type='email' placeholder="Enter New Email"> <br>

        <label for="password-input">Enter Password</label>
        <p>Confirm Password: </p><input id="password-input" type='password' placeholder="Enter Pa****rd"> <br>

        <button class="submit" type="submit">Submit</button>
      </form>

    </div>

    <div class="-link">
      Not signed up yet? <a href="/register">Sign up now</a>
    </div>
    <p id="error-message"></p>

  </div>




  <script src="/js/accountRecovery.js"></script>
</body>
</html>
