<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mainstyle.css">
</head>
<body>
    <!--DEBUG: Temporary visuals-->
    <style>

        #fakemap{
            width: 100%;
            height: 100%;
            background-color: greenyellow;
        }

    </style>

    <div id="fakemap"></div>

        <div id="nav-organizer">

            <div id="navbar">
                <button id="register" class=" --navbutton">Register / Login</button>
                <button id="accountrecovery" class=" --navbutton">Account Recovery</button>
                <button class=" --navbutton">test3</button>
                <button class=" --navbutton">test4</button>
            </div>

            <div id="content-container"></div>
            

        </div>

    <script src="/js/navbar.js" type='module'></script>
    <script src="/js/contentcontainer.js" type='module'></script>
</body>
</html>