<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="/css/mainstyle.css">
</head>

<body>

    <div id="map-container">
        <input id="pac-input"></input>
        <div id="map-cover"></div>
        <gmp-map id="map" center="37.4220656,-122.0840897" zoom="10" map-id="DEMO_MAP_ID"></gmp-map>
    </div>

    <div id="nav-organizer">
        <div id="navbar">
            <button id="register" class=" --navbutton">Register / Login</button>
            <button id="accountrecovery" class=" --navbutton">Account Recovery</button>
            <button id="profile" class="--navbutton">Profile</button>
            <!-- <button id="news" class="--navbutton">News</button> -->
            <!-- <button id="contact" class="--navbutton">Contact</button> -->
        </div>
        <div id="content-container"></div>
    </div>

    <script src="/js/navbar.js" type='module'></script>
    <script src="/js/contentcontainer.js" type='module'></script>
    <script src="/js/map.js" type="module"></script>

</body>

</html>