<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <link rel="stylesheet" href="/css/passwordreset.css">
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>
    <img src="https://i.ibb.co/CzX5Dt7/travelnest-logo.png" alt="Your Logo" class="logo">

  <div class="container">
    <h3>Password Reset</h3>
    <form id="resetForm">
      <input type="email" id="emailInput" placeholder="Enter your email" required>
      <button type="submit">Reset Password</button>
    </form>
    <p id="message"></p>
  </div>

  <div class="signup-link">
    <p>Not signed up yet? <a href="/register">Sign up now</a></p>
  </div>


  <script src="/js/passwordreset.js"></script>
</body>
</html>
