<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mainStyle.css">
</head>
<body>

<div class="container">    
    <img src="https://i.ibb.co/CzX5Dt7/travelnest-logo.png" alt="Your Logo" class="logo">

    <h3>Sign up for an account</h3>
    <h6>Travel near. Travel far.</h6>

  <form id="signup-form" action="/register" method="POST">
    <label for="fullname">Full Name:</label>
    <input type="text" id="name" name="name" placeholder="Your Name" ><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Your Email" ><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Your Pa****rd" ><br>

    <label for="location">Location:</label>
    <input type="text" id="location" name="location" placeholder="Where ya from?" ><br>

    <div id="error-message" style="color: red; font-size: 16px;"></div>

    <button type="submit">Submit</button>
  </form>

  <!-- <select id="location" required>
    <option value="" disabled selected>Select your location</option>
    <option value="TO">Toronto</option>
    <option value="HO">Honolulu</option>
    <!-- Add more cities as needed 
  </select> -->

  <div class="-link">
      <p>Have an account? <a href="login.html">Login now</a></p>
  </div>
</div>

<script src="/js/signupPage.js"></script>
</body>
</html>