body {
  font-family: 'Inter';
  font-size: 22px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
  align-content: center;
}

#titleplate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#recovery-container-password{
    display: none;
}

#recovery-container-email{
    display: none;
    justify-content: flex-start;
}

p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin-bottom: 5px;
}


.-link{
    margin-top: -10px;
    display: inline;
}

p:first-of-type{
    margin-top: -15px;
}